<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="forumDigitalpointTest">
    <classes>
		<class name="testCases.T01_HomePageValidation"/>
		<class name="testCases.T02_LoginPageValidation"/>
      	<class name="testCases.T03_RegistrationPageValidation"/>          
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
